<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<nav class="mypage-nav" th:fragment="mypageNav(currentMenu)">
    <a class="mypage-nav-item" th:classappend="${currentMenu == 'main'} ? ' is-active' : ''" th:href="@{/mypage}">마이페이지</a>
    <a class="mypage-nav-item" th:classappend="${currentMenu == 'profile'} ? ' is-active' : ''" th:href="@{/mypage/profile}">회원정보 수정</a>
    <a class="mypage-nav-item" th:classappend="${currentMenu == 'password'} ? ' is-active' : ''" th:href="@{/mypage/password}">비밀번호 변경</a>
    <a class="mypage-nav-item" th:classappend="${currentMenu == 'activity'} ? ' is-active' : ''" th:href="@{/mypage/activity}">북마크/좋아요</a>
    <a class="mypage-nav-item danger" th:classappend="${currentMenu == 'withdraw'} ? ' is-active' : ''" th:href="@{/mypage/withdraw}">회원탈퇴</a>
</nav>
</body>
</html>
